fastapi
uvicorn[standard]
motor
passlib
python-dotenv
pydantic[dotenv]
python-jose[cryptography]
oauthlib
pytest
pytest-asyncio
httpx
pymongo
python-multipart
pydantic-to-typescript
binance-connector
requests-ip-rotator
python-telegram-bot
bcrypt
schedule
fake_useragent
tqdm
pandas
numpy